
@{
    ViewBag.Title = "CreateBook";
}

<h2>CreateBook</h2>

<form method="post" name="newBook">
    <h4>Title</h4>
    <input type="text" name="Title" />

    <h4>ISBN</h4>
    <input type="text" name="ISBN" />

    <h4>Pages</h4>
    <input type="text" name="Pages" />

    <h4>Publication info</h4>
    <input type="text" name="PublicationInfo"/>

    <h4>Classification SignId</h4>
    <input type="text" name="SignId" />

    <h4>Authors ("ID,ID,ID etc")</h4>
    <input type="text" name="Authors" />

    <button type="submit">Create</button>

    @{ 
        if(ViewBag.Validation != null)
        {
            foreach(var error in ViewBag.Validation)
            {
                <p>@error</p>
            }
        }
    }
</form>
