
@{
    ViewBag.Title = "NewAdministrator";
}

<div class="container">
    <h2>New Administrator:</h2>
    <form action="">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="PermissionLevel">PermissionLevel:</label>
            <input type="number" class="form-control" id="PermissionLevel">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>