
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>

<form method="post">
    <h4>Username: </h4>
    <input type="text" name="userName" /><br />

    <h4>Password: </h4>
    <input type="text" name="password" /><br /><br />
    <button type="submit">Submit</button>
</form>
