
@{
	ViewBag.Title = "CreateAuthor";

}

<h2>CreateAuthor</h2>

<form method="post" name="newAuthor">
	<h4>First name</h4>
	<input type="text" name="firstName" placeholder="First name" value="" />
	<h4>Last name</h4>
	<input type="text" name="lastName" placeholder="Last name" value=""/>
	<h4>Birth year</h4>
	<input type="number" name="birthYear" placeholder="Birth year" value="" />
	<button type="submit">Add</button>
</form>
